body, html {
  height: 100%;
  margin: 0;
  font: 500 15px/1.8 "Lato", sans-serif;
  color: #777;
  }
nav{
  width: 100%;
  background: #00316b;
  margin-top: -1.5em;
}
nav ul{
  width: 80%;
  margin: 0 auto;
  padding: 0;
  text-align: right;

}
nav ul li{
  list-style: none;
  padding: 20px;
  display: inline-block;

}
nav ul li:hover{
  background: #008CBA;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  
}
nav ul li i{
font-size: 50px;
color: #fff;
}
.toggle  {
  width: 100%;
  padding: 10px 20px;
  background: #001f44;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
}
.toggle i{
  display: none;
}
.toggle .navbar-brand {
  float: left;
  height: 50px;
  padding: 35px 15px;
  font-size: 25px;
  line-height: 20px;
  color: #fff;
  text-decoration:none;
}

.bgimg-1{
  position: relative;
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../img/img_parallax2.jpg");
  height: 100%;
}
div.blockloader{
  text-align: center;
  margin-top: 30px;
}
button.btnloader{
  background-color: #ffff; 
  border: 2px solid  #008cba;
  color: #00316b;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
button.btnloader:hover {
  color: #fff;
  background-color: #008cba; 
}
.layer {
    background-color: rgba(30,30, 80, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.caption span.borderDifferent {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 18px;
  padding-bottom: 0;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 20px 20px 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

button.btn  {
  margin-top: 45px;
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
button.btnRequest  {
  margin-top: -10px;
  background-color: #008cba; 
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
button.btn:hover {
  margin-top: 45px;
  background-color: #00316b; 
}
button.btn:focus{    
   outline-style: none;
   outline: 0;
}
button.btnRequest:hover {
  background-color: #00316b; 
}
button.btnRequest:focus{    
   outline-style: none;
   outline: 0;
}
div.about{
  width: 70%;
  text-align: left;
  margin: 10px;
  margin-left: 10em;
  margin-bottom: 15em;
}
div .leftBlock{
  height: 50px;
  border-right: 160px solid white;
  border-radius: 10px;
  padding-top: 2.6em;
  position: absolute;
  right: 9em;
  overflow-x: hidden;
  padding-right: 5em;
  margin: -6em 0 0 5em;
}
div.about b{
  font-size: 3em;
  border-bottom: 3px solid #9c9c9c;
  padding-bottom: 11px;
  opacity: 0.8;
}
div.about p{
  margin-top: 3em;
}
.transition_Border {
  margin-top: -9em;
  position: absolute;
  border-top: 135px solid transparent;
  border-right:none;
  border-left: 1570px solid #fff;
  border-bottom: none;
  overflow: hidden;
}
.transition_Border2 {
  margin-top: -7.6em;
  position: absolute;
  border-bottom: 115px solid #434260;
  border-right:none;
  border-left: 1583px solid transparent;
  border-bottom: none;
}
footer .leftBlock2{
  height: 90px;
  border-left: 160px solid white;
  border-radius: 10px;
  position: absolute;
  left: 4.8em;
  overflow-x: hidden;
  padding-right: 5em;
  margin: -2.9em 0 0 5em;
}
footer{
  background-image: linear-gradient(#434260 10%, #777);
  text-align: center;
  color: #eee;
  padding-bottom: 5em;
}
footer .footer_content{
  text-align: left;
  margin-left: 22em;
  color: white;
  font-weight: 500;
}
footer .footer_content b a{
  color: white;
}
.signin{
  background: rgba(44,62,80,0.7);
  padding: 40px;
  width: 250px;
  margin: auto;
  margin-top: 5em;
  height: 300px;
  margin-left: 45em;
  border-radius: 10px;
}
.signup{
  position: absolute;
  background: rgba(44,62,80,0.7);
  padding: 50px;
  padding-top: 10px; 
  width: 250px;
  margin: auto;
  margin-top: -37em;
  height: 400px;
  margin-left: 45em;
  border-radius: 10px;
  z-index: 7;
}
form{
  width: 240px;
  text-align:center;
}
input{
  width: 240px;
  background: transparent;
  border:none;
  border-bottom: 1px solid #fff;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #fff;
  margin-bottom:10px;
}
input[type=button]{
  border:none;
  width: 190px;
  background:#fff;
  color:#000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}
input[type=button]:hover{
  color: #fff;
  background-color: #008CBA;
}
h2{
  color: #fff;
}
form a{
  color:skyblue;
  text-decoration:blink;
}
form a:hover{
  color:#008CBA;
}
::placeholder{
  color: aliceblue;
  opacity: 0.8;
}
.edit ::placeholder{
  color: #000;
  opacity: 0.8;
}
.footer{
  color: #000;
  text-align: center;
  margin-top:10em;
}
form span{
  color: #fff;
  font-size: 16px;
}
.homeAuth{
 
 text-align:center;
}
.column {
  float: left;
  width: 23%;
  padding: 0 10px;
  margin-bottom:20px;
}

.row {
  margin: 0 130px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
}
.content h4{
  margin-bottom: -15px;
  color: #00316b;
  font-size: 18px;
}
.content p{
  font-size: 15px;
}
.coverColor{
  background-image: linear-gradient(15deg, #13547a 10%, #80d0c7 100%);
  padding: 70px;
}
.coverColor h2{
  font-size: 27px;
  color: #fff
}
.coverColor p{
  color: #fff
}
.container{
   margin:10px;
   padding: 50px;
   max-width: 1110px;
   margin: auto;
}
.profile .detail .task{
  margin-bottom: 20px;
}
.profile h3{
  margin-top: -3px;
  font-size: 25px;
  color: #00316b;
}
.profile h5{
  margin-top: -2.6em;
  font-size: 15px;
}
.profile .ano{
  margin-top:35px
}
.profile p{
  margin-top: -26px;
}
.profile h4{
  margin-top: 5px;
  margin-bottom: 34px;
  border-bottom:2px solid #000;
  width: 110px;
}
.profile img{
  width: 150px;
  border-radius: 100px;
}
.profile .block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 0.5em;
}
.profile .block .block1{
   width: 450px;
}
.profile .btnImg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin-top: 0.5em;
}
.profile .btnImg .btns{
  margin-top:50px;
  margin-left:20px;
}
.profile .btnImg .btns .btn1{
  width: 150px;
  background:#008CBA;
  color:#fff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}
.profile .btnImg .btns .btn1:hover{
  background:#00316b;
}
.profile .btnImg .btns .btn2{
  width: 150px;
  cursor: pointer;
  color:#000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border: 2px solid #008CBA; 
  border-radius: 15px;
}
.profile .btnImg .btns .btn2:hover{
  color:#fff;
  background:#008CBA;
}
.profile .btnImg .btns .btn2:focus{    
   outline-style: none;
   outline: 0;
}
.profile .btnImg .btns .btn1:focus{    
   outline-style: none;
   outline: 0;
}
.relations ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.relations li {
  border: 1px solid #ddd;
  margin-top: -1px; 
  background-color: #eee;
  padding: 14px;
}
.relations li:hover {
  background-color: #f6f6f6;
}
.relations li img {
  width: 45px;
  border-radius: 50px;
}
.relations li p {
   margin-left:3.5em;
   padding-top: 25px; 
   margin-top:-4em;
   font-size: 16px;
   font-weight: bold;
}
.relations li p a {
   border:2px solid #008CBA;
   float:right;
   text-decoration: none;
   padding: 3px;
   border-radius: 5px;
   color: #00316b;
   margin-right: 48px;
   font-size: 14px;
}
.relations li p a:hover{
   color: #fff;
   background:#008CBA; 
}
.relations h4{
  margin-top: -5px;
  margin-bottom: 10px;
  border-bottom:2px solid #000;
  width: 180px;
}
.countnames{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin-top: 0.5em;
}
.countnames button{
  width: 150px;
  color:#fff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  background: #00316b; 
  border-radius: 6px;
}
.edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}
.edit .editinfo{
   margin-bottom:10px;   
}

.edit h3{
  text-align:center;
}
 .edit input[type=text], .edit input[type=email], .edit input[type=password]{
  width: 240px;
  margin-bottom:10px;
  background: #0000;
  border:none;
  border-bottom: 1.5px solid #00316b;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #000
}

.edit input[type=submit] {
  width: 100%;
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit input[type=submit]:hover {
  background-color: #00316b;
}

.edit .editinfo {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  height: 500px;
  margin-left: 100px;
}
.edit .editpass {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  height: 320px;
  margin-right:100px;
}
.edit ::placeholder ,.session ::placeholder{
  color: #000;
  opacity: 0.5;
}
a.decline{
  border:2px solid #AA3A2D !important;
  color: #AA3A2D !important;
}
a.decline:hover{
  background:#AA3A2D !important;
  color: #fff !important;
}
.session{
  text-align:center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  height: 320px;
  width: 250px;
  margin-left: 26em;
}
.session input[type=text], .session input[type=email], .session input[type=password],
.session input[type=number]
{
  width: 240px;
  margin-bottom:10px;
  background: #0000;
  border:none;
  border-bottom: 1.5px solid #00316b;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: #000
}

.session input[type=submit] {
  width: 100%;
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.session input[type=submit]:hover {
  background-color: #00316b;
}
.mentorships{
  margin-right:100px;
  text-align:center;
}
.session form textarea{
  width: 260px;
  margin-bottom:10px;
  border: 1.5px solid #00316b;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  transition: border 0.5s;
  outline: none;
  color: #000;
  border-radius: 5px;
}
.session h4{
  border-bottom: 2px solid #00316b;
}
@media (max-width: 1900px){
  body{
    overflow-x: hidden;
  } 
  div .leftBlock{
    height: 70px;
    border-right: 120px solid white;
    border-radius: 10px;
    padding-top: 3em;
    position: absolute;
    right: 3em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -8em 0 0 5em;
  }
  footer .leftBlock2{
    height: 100px;
    border-left: 120px solid white;
    border-radius: 10px;
    position: absolute;
    left: 0em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -3.5em 0 0 5em;
  }
  .signup{
  position: absolute;
  background: rgba(44,62,80,0.7);
  padding: 50px;
  padding-top: 5px; 
  width: 250px;
  margin: auto;
  margin-top: -38em;
  height: 420px;
  margin-left:45em;
  border-radius: 10px;
  z-index: 7;
 }

}

@media (max-width: 1200px){
  body{
    overflow-x: hidden;
  }
  
  div .leftBlock{
    height: 70px;
    border-right: 120px solid white;
    border-radius: 10px;
    padding-top: 3em;
    position: absolute;
    right: 3em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -8em 0 0 5em;
  }
  footer .leftBlock2{
    height: 100px;
    border-left: 120px solid white;
    border-radius: 10px;
    position: absolute;
    left: 0em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -3.5em 0 0 5em;
  }
.row {
  margin: 0 20px;

}
.column {
    width: 22%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 989px){
  body{
    overflow-x: hidden;
  }
  .caption{
    margin-top: -4em;
  }
  .caption span.border {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 12px;
    font-size: 20px;
    letter-spacing: 10px;
    border-radius: 27px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .caption span.borderDifferent {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 12px;
    height: 20px;
    font-size: 20px;
    letter-spacing: 10px;
    border-radius: 20px;
    position: relative;
    bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
  div.about{
    width: 70%;
    text-align: left;
    margin: 10px;
    margin-left: 5em;
    margin-bottom: 10em;
  }
  div .leftBlock{
    height: 70px;
    border-right: 120px solid white;
    border-radius: 10px;
    padding-top: 3em;
    position: absolute;
    right: 3em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -10em 0 0 5em;
  }
  div.about b{
    font-size: 2.5em;
  }
  div.about p{
    margin-top: 3em;
  }
  
  footer .leftBlock2{
    height: 100px;
    border-left: 120px solid white;
    border-radius: 10px;
    position: absolute;
    left: 0em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -3.5em 0 0 5em;
  }
  footer .footer_content{
    text-align: left;
    margin-left: 14 em;
    color: white;
    font-weight: 500;
  }
  footer .footer_content b a{
    color: white;
  }
  .signin{
  background: rgba(44,62,80,0.7);
  padding: 40px;
  width: 250px;
  margin: auto;
  margin-top: 3em;
  height: 300px;
  margin-left: 27em;
  border-radius: 10px;
}
.signup{
  position: absolute;
  background: rgba(44,62,80,0.7);
  padding: 50px;
  padding-top: 15px; 
  width: 250px;
  margin: auto;
  margin-top: -37em;
  height: 450px;
  margin-left: 25em;
  border-radius: 10px;
  z-index: 7;
}
.row {
  margin: 0 20px;

}
.column {
    width: 30%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px){
  body{
    overflow-x: hidden;
  }
   nav{
  margin-top: 0px;
}
  .toggle i{
    display: block;
  }
  .toggle .navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-decoration:none;
    }
  nav ul {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 10;
    background: #00316b;
    }
   nav ul li{
      display: block;
      text-align: center;

    }
    .active{
      display: block;
    }
   nav i{
      cursor: pointer;
    }
  .caption{
    margin-top: -4em;
  }
  .caption span.border {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 12px;
    font-size: 15px;
    letter-spacing: 10px;
    border-radius: 27px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .caption span.borderDifferent {
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    padding: 12px;
    height: 20px;
    font-size: 15px;
    letter-spacing: 10px;
    border-radius: 20px;
    position: relative;
    bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*Second block Responsive tart*/
  div.about{
    width: 70%;
    text-align: left;
    margin: 10px;
    margin-left: 3em;
    margin-bottom: 10em;
  }
  div .leftBlock{
    height: 90px;
    border-right: 60px solid white;
    border-radius: 10px;
    padding-top: 3em;
    position: absolute;
    right: .8em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -12em 0 0 5em;
  }
  div.about b{
    font-size: 2em;
  }
  div.about p{
    margin-top: 3em;
  }
  
  /*Footer section for responsive rart*/
  footer .leftBlock2{
    height: 100px;
    border-left: 60px solid white;
    border-radius: 10px;
    /*padding-top: 14em;*/
    position: absolute;
    left: -1.5em;
    overflow-x: hidden;
    padding-right: 5em;
    margin: -3.5em 0 0 5em;
  }

  footer{
    background-image: linear-gradient(#434260 10%, #777);
    text-align: center;
    color: #eee;
    padding-bottom: 5em;
  }
  footer .footer_content{
    text-align: left;
    margin-left: 9em;
    margin-top: 3em;
    color: white;
    font-weight: 500;
  }
  footer .footer_content b a{
    color: white;
  }
  .signin{
  background: rgba(44,62,80,0.7);
  padding: 40px;
  width: 250px;
  margin: auto;
  margin-top: 2em;
  height: 300px;
  margin-left: 0,2em;
  border-radius: 10px;
 }
 .signup{
  position: absolute;
  background: rgba(44,62,80,0.7);
  padding: 50px;
  padding-top: 15px; 
  width: 250px;
  margin: auto;
  margin-top: -37em;
  height: 450px;
  margin-left: 4em;
  border-radius: 10px;
  z-index: 7;
}
.row {
  margin: 0 70px;

}
 .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .profile .block{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin-top: 0.5em;
 }
 .countnames{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-top: 0.5em;
}
.edit{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
 }
 .edit .editinfo {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  height: 500px;
}
.edit .editpass {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  height: 320px;
 }
 a.decline{
  margin-right:10px !important;
 }
 a.accept{
  margin-right:5px !important;
 }
 .session{
  text-align:center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  height: 320px;
  width: 250px;
  margin-left: 3em;
  }
} 

